<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/students"></ion-back-button>
      </ion-buttons>
    <ion-title>Create a new student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <h1><ion-text>Create a new student</ion-text></h1>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Firstname</ion-label>
              <ion-input type="text" ngModel required name="firstname" #firstnameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!firstnameCtrl.valid && firstnameCtrl.touched" lines="none">
              <ion-label>Firstname is required</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Lastname</ion-label>
                <ion-input type="text" ngModel required name="lastname" #lastnameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!lastnameCtrl.valid && lastnameCtrl.touched" lines="none">
                <ion-label>Lastname is required</ion-label>
              </ion-item>
            <ion-item>
                <ion-label position="floating">Class</ion-label>
                <ion-input type="text" ngModel required name="classname" #classnameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!classnameCtrl.valid && classnameCtrl.touched" lines="none">
                <ion-label>Class is required</ion-label>
              </ion-item>
            <ion-item>
                <ion-label position="floating">Date of Birth</ion-label>
                <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" ngModel required name="dob" #dobCtrl="ngModel"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="!dobCtrl.valid && dobCtrl.touched" lines="none">
                <ion-label>Date of birth is required</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button shape="round" type="submit" color="primary" expand="block" [disabled]="!f.valid">
            Create
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
