<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Students
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" *ngIf="isLoading" text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && students.length <= 0" text-center>
        <p>You don't have any students</p>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && students.length > 0">
          <ion-card *ngFor="let student of students" (click)="goToStudentDetail(student.id)" class="simple-box">
              <ion-card-header>
                <ion-card-subtitle>{{ student.firstname }} {{ student.lastname }}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button 
    class="bottom-right-button" 
    color="primary" 
    shape="round" 
    size="large"
    (click)="addNewStudent()">Add a student</ion-button>
</ion-content>
